@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #1d2d40;
    color: #e2e2e2;
    margin:0;
	padding:0;
}
footer{
	clear: both;
	padding:20px 0px;
	text-align:center;
    color: #e2e2e2;
}
a{
    text-decoration: none;
}
aside{
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 999999;
}

#heading{
	display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}
.heading_img{
    box-sizing: border-box;
    width: 70%;
    height: auto;
    position: relative;
    top: 10px;
}
.heading_title{
    box-sizing: border-box;
    font-size: 12px;
    position: relative;
    top: -10px;
}

/*導覽列*/
nav{
    width:100%;
	margin:auto;
	text-align:center;
	background: #010910;
	
	-webkit-position: sticky;
	position: sticky;
	z-index:2000;
	top: 0;
}
nav ul{
    background-color: #010910;
    margin: 0;
    padding: 20px;
}

nav li{
    display: inline;
    margin: 0px 10px 0px;
}
nav li a{
    color: #e2e2e2;
    text-decoration: none;

    padding: 20px;
}
nav li a:hover{
    background-color: #e2e2e2;
    color: #010910;
}
nav li span{
    color: #010910;
    background-color: #e2e2e2;
    padding: 20px;
}

/*blog structure*/
.blog{
    display: flex;
    flex-direction: column;
    
    text-align: center;
    justify-content: center;
}
.blog_heading{
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}
.blog_heading span{
    margin: 10px 0px 0px 0px;
    color: #b79683;
}
.blog_heading h3{
    font-size: 30px;
    color: #e2e2e2;
}
.blog_container{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*article*/
.box{
    width: 50%;
    padding: 25px;
}
.box_img{
    width: 100%;
    height: auto;
}
.box_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.box_text{
    display: flex;
    flex-direction: column;
    
    padding: 25px;
    text-align: left;
}
.box_annotation{
    height: 10px;
    font-size: 8px;
    text-align: center;
}
.box_annotation a{
    line-height: 100%;
    padding: 20px;
    color: #e2e2e2;
}
.box_annotation a:hover{
    padding: 20px;
    color: #a85c02
}

/*return buttom*/
/*
.return_home{
	width: 44px;
	height: 44px;
	background: #010910 url(../assets/return.png) no-repeat; 
	background-size: 200%;
	background-position: 0px 0px;
}
.return_home:hover{
	background: #010910 url(../assets/return.png) no-repeat;
	background-size: 200%;
	background-position: -44px 0px;
}*/